.stylerow{
    background: blue;
    height: 500px;
    padding: 20px;

    }
    .stylerow2{
    background: transparent;
    height: 100px;
    }
    .toprow{
    margin-top: 200px;
    }
    .btnLogin{
        background: aqua;
        color:white; 
        font-weight: bold;
        font-size: x-large;
    }
    .alertLogin{
        background: red;
        font-size: medium;
        color: black;
        font-weight: bold;
        text-align: center;
    }
    .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 24px;
      cursor: pointer;
      transition: color 0.3s;
    }
    
    .trigger:hover {
      color: #1890ff;
    }
    
    .logo {
      height: 32px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px;
    }
    
    .site-layout .site-layout-background {
      background: #fff;
    }
    
  .imgdetalle{
    width: 150px;
  }
  .detalle-info{
    border: 5px solid red; 
  }
  .tamdetalle{
    height: 400px;
  }
  .center{
    text-align: center;
  }
  .p{
    padding-left: 10px;
  }