.stylerow{
    background: blue;
    height: 500px;
    padding: 20px;
    }
    .stylerow2{
    background: transparent;
    height: 100px;
    }
    .toprow{
    margin-top: 200px;
    }
    .btnLogin{
        background: aqua;
        color:white; 
        font-weight: bold;
        font-size: x-large;
    }
    .alertLogin{
        background: red;
        font-size: medium;
        color: black;
        font-weight: bold;
        text-align: center;
    }